img{
    opacity: 0.5;
}
pop,img:hover{

    opacity:1;
}

#popupbg{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 201, 201, 0.483);
    z-index: 999;
    
}
#popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    font-size: 12px;
    padding: 20px;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#registration-div{
    margin-top: 20px;
}
#login-div{
    margin-top: 20px;
    display: none;
}
#login-success{
    margin-top: 20px;
    display: none;
}